BLOCKFROST_PROJECT_ID =
LIGHTHOUSE_API_KEY =
FRONTEND_URL= "http://127.0.0.1:5173"
DATABASE_URL="mysql://betsa:rasta@172.19.160.1:3306/nft"
PRISMA_ACCELERATE_URL = "mysql://user:password@localhost:3306/database"
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

